{% extends 'blog/base.html' %}

{% block content %}
    <h1>New prediction</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-group">
        <table>
          {% for field in form %}
        <tr >
          <td style="padding-top:5px;padding-bottom:5px;padding-right:5px;">{{ field.label_tag }}</td>
          <td style="padding-top:5px;padding-bottom:5px;padding-right:5px;"> {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}</td>
        </tr>
    {% endfor %}
        </table>
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
